<title th:fragment="title">Pannello di gestione</title>
<div th:fragment="contentDashboard">
    <div class="container">
        <div class="col-lg-12">
            <br>
            <br>
            <br>
            <div class="row">
                <form role="form" class="form-horizontal" th:action="@{/prototype/add}" method="post"
                      th:object="${newPrototype}" autocomplete="no" enctype="multipart/form-data">
                    <div class="form-group">
                        <label>Inserisci nome del prototipo da inserire: </label>
                        <input  type="text" class="form-control" th:field="*{name}"/>
                    </div>
                    <div>
                        <label>seleziona file prototipo: </label>
                        <input type="file" name="file" class="form-control"  accept=".dxf" required/>
                    </div>
                    <div class="form-group">
                        <label>Inserisci nome del livello in cui trovo le griglie </label>
                        <input  type="text" class="form-control" name="layerG" value="griglie"/>
                    </div>
                    <div class="form-group">
                        <label>Inserisci nome del livello in cui trovo i binari </label>
                        <input  type="text" class="form-control" name="layerR" value="Rotaie"/>
                    </div>
                    <div class="form-group">
                        <label> inserire nome del modello: </label>
                        <input type="text" class="form-control" th:field="*{nrModel}"/>
                    </div>
                    <div class="form-group">
                        <label>inserire numero del articolo: </label>
                        <input type="text" class="form-control" th:field="*{nrArticle}"/>
                    </div>
                    <div class="form-group">
                        <label>inserire nome del cliente: </label>
                        <input type="text" class="form-control" th:field="*{client}"/>
                    </div>
                    <button type="submit" class="btn btn-default">Submit Button</button>
                    <button type="reset" class="btn btn-default">Reset Button</button>
                </form>
            </div>

        </div>

    </div>
</div>
<div th:fragment="script">
</div>


<!--
<div id="myEmbeddedScene" class="col-lg-8">
                    <a-scene embedded>
                        <a-camera position="1 0 10" user-height="5" look-controls-enabled="true"></a-camera>
                        <a-sphere click-drag position="0 1.25 -1" radius="1.25" color="#EF2D5E"></a-sphere>
                        <a-box click-drag position="-1 0.5 1" rotation="0 45 0" width="1" height="1" depth="1"
                               color="#4CC3D9"></a-box>
                        <a-cylinder position="1 0.75 1" radius="0.5" height="1.5" color="#FFC65D"></a-cylinder>
                        <a-plane rotation="-90 0 0" width="4" height="4" color="#7BC8A4"></a-plane>

                        <a-sky color="#2266CC"></a-sky>
                        <a-entity position="0 0 3.8"></a-entity>
                    </a-scene>
                </div>
-->